<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.BrainBox">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Level_One_Question_Eight"></activity>
        <activity android:name=".Level_One_Question_Seven" />
        <activity android:name=".Level_One_Question_Six" />
        <activity android:name=".Level_One_Question_Five" />
        <activity android:name=".Level_One_Question_Four" />
        <activity android:name=".Level_One_Question_Three" />
        <activity android:name=".Level_One_Question_Two" />
        <activity android:name=".Level_One_Question_One" />
        <activity android:name=".Learn_Level_Three_Slide_Show" />
        <activity android:name=".Quiz" />
        <activity android:name=".Learn_Communication" />
        <activity android:name=".Learn_Level_One_Slide_Show_Shapes" />
        <activity android:name=".Learn_Level_One_Slide_Show_Colors" />
        <activity android:name=".Learn_Level_Two_Slide_Show" />
        <activity android:name=".Learn_Level_Three" />
        <activity android:name=".Learn_Level_Two" />
        <activity android:name=".Learn_Level_One" />
        <activity android:name=".Communicate" />
        <activity android:name=".Learn" />
        <activity android:name=".About_App" />
        <activity android:name=".Get_Started" />
        <activity android:name=".Welcome_Screen" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>